<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: 'text-decoration-none' do %>
      <%= image_tag 'watchlist-logo.png', style: "width: 40px; border-radius: 8px" %>
      <span class="navbar-brand mx-2">My Movie Watchlist</span>
      <% end %>
    </div>
    <div class="d-flex" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movie Lists
          </a>
          <ul class="dropdown-menu list-dropdown">
            <% List.all.each do |list| %>
              <li class="">
                <%= link_to list.name, list_path(list), class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
