.navbar-dark {
  height: 60px;
  padding: 32px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  align-content: center;
  background-color: #1D303C !important;
}

.navbar-brand {
  font-size: 16px !important;
  padding: 8px 0;
}

.navbar-nav {
  justify-content: space-between;
}

.list-dropdown {
  background-color: rgb(237, 241, 243);
  // width: 200px;
  // padding: 10px;
  // margin-right: 12px;
  font-family: 'Mooli', sans-serif;
  // left: auto !important;
  a {
    text-decoration: none;
    color: rgb(17, 90, 129);
    padding: 4px 8px;
  }
}

.dropdown-toggle {
  font-family: 'Mooli', sans-serif;
  font-size: 16px;
  color: rgb(237, 241, 243);
}

.dropdown-menu {
  margin-top: 22vh !important;
}

.container-fluid {
  padding: 10px 20px;
}
