.btn-outline-gold {
  border: 2px solid goldenrod;
  font: goldenrod;
  color: goldenrod;
}

.back-btn {
  border: 2px solid goldenrod;
  font: goldenrod;
  color: goldenrod;
  padding: 12px;
  background-color: rgb(4, 39, 51);
  text-align: center;
}
